.border {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 5px 5px;
}

.gradient-custom {
    background: #e6e9f0;
    background: -webkit-linear-gradient(
      to right,
      rgb(175, 190, 224),
      rgba(238, 241, 245, 1)
    );
    background: linear-gradient(
      to right,
      rgb(175, 190, 224),
      rgba(238, 241, 245, 1)
    );
    position: initial;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vw;
  }